################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
**/obj
**/Logs
**/bundle
**/bin